.main-section {
    min-height: 786px;
    background: url(../img/main.section.png);
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(247, 243, 243);
    text-align: center;

}




